*{
  margin: 0;
  padding: 0;
}

p{
  color: black;
  font-family: 'Inconsolata', monospace;
}

#mainpage{
  height: 50vh;
}

.mainparagraph{
  margin: auto 0;
}

          /* Landing page */

#beginpage{
  height:100vh;
}

#logospin{
  width: 256px;
  margin: 0 auto;
}

#logospin img{
  margin: auto;
  width: 256px;
  height: 256px;
}

          /* Navigation Bar */

#navbar-brand{
  margin-left: 1.5em;
  font-size: 1.1em;
  font-family: 'Inconsolata', monospace;
}

.nav-item{
  font-family: 'Raleway', sans-serif;
  border: solid transparent;
  border-width: 0px 0px 2px 0px;
  transition: border 0.5s ease-out;
  margin-right: 5em;
  cursor: default;
}

.nav-item:hover{
  color: yellow;
  transition: border 0.5s ease;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: yellow;
}

          /* Footer */

footer{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
