*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Archivo', sans-serif;
}

h1, p{
	color: black;
}

p{

}


@media only screen and (max-width: 600px) {
}

#button{
	display: none;
	position: absolute;
	top: 0.6em;
	left: 0.9em;
	border-style: solid;
	border-color: white;
	border-width: 0.1em;
	width: 4em;
	height: 2.5em;
	z-index: 2;
}

.button-line{
	display: none;
	width: 2.5em;
	height: 0.2em;
	background-color: white;
	position: relative;
	margin: 6px auto;
}

#upperbar{
	position: sticky;
	top: 0;
	height: 4em;
	width: 100%;
	background-color: yellow;
	z-index: 2;
}

#upperbar ul{
	list-style: none;
}

#upperbar ul li{
	display: inline-block;
}

#button2{
	display: none;
	position: relative;
	top: 0.6em;
	left: 0.9em;
	z-index: 1;
	border-style: solid;
	border-width: 0.1em;
	width: 4em;
	height: 2.5em;
}

.button-line2{
	display: none;
	width: 2.5em;
	height: 0.2em;
	background-color: black;
	position: relative;
	margin: 6px auto;
}

#lowerbar{
	height: 4em;
	width: 100%;
	background-color: white;
	z-index: 1;
}

#lowerbar ul{
	list-style: none;
	text-align: center;
}

#lowerbar ul li{
	display: inline-block;
	margin-right: 20px;
}

/* .mySlides {
	display: none;

}

.w3-left, .w3-right, .w3-badge {
	cursor: pointer;
}

.w3-badge {
	height: 13px;
	width: 13px;
	padding: 0;
}

#midpage{
	width: 75%;
	margin: 0 auto;
	display: grid;
}

#midpage #proefles #gratis{
	text-align: center;
	width: 100%;
	height: 50px;
	margin-bottom: 2em;
	background-color: yellow;
  	border: none;
  	color: black;
}

#gratis:hover{
	cursor: pointer;
}

p#topDes{
	margin-bottom: 1em;
}

p.description{
	margin-bottom: 2em;
}

#video{
	margin-top: 3em;
	margin-bottom: 0;
	width: 100%;
	height: 315px;
} */